body, input[type=text], input[type=email], input[type=number], textarea {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #151515;
  font-weight: 400;
  background-color: #fff;
}
a {
  color: #151515;
}
h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-size: 20px;
}
img {
  border: 0;
}
.parallax {
  background-attachment: fixed;
  text-align: center;
  padding: 50px 0;
}
.parallax-light, .header-light {
  color: #151515;
}
.parallax-dark, .header-dark {
  color: #fff;
}
.parallax-light a, .header-light a {
  color: #151515;
  text-decoration: none;
}
.parallax-dark a, .header-dark a {
  color: #fff;
  text-decoration: none;
}
.parallax-dark a:hover, .header-dark a:hover {
  transition: 0.3s;
  text-decoration: underline;
}
.screen-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-content {
  justify-content: center;
}
.header-content h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 0.9em;
}
.header-content h2p {
  font-weight: 400;
  font-size: 20px;
}
header-content p {
  font-weight: 400;
}
.btn-site {
  padding: 10px 30px;
  background-color: #10599A;
  border-radius: 20px;
  text-decoration: none;
  color: #fff !important;
  font-weight: 400;
	border:0;
}
.btn-site:hover {
  background-color: #151515;
  transition: 0.3s;
  text-decoration: none !important;
}
.logo, .logo-small {
  width: auto;
  height: auto;
  max-width: 130px;
  max-height: 80px;
}
.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .nav-item.dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #000;
}
.navbar .nav-item.dropdown .dropdown-item {
  color: #fff;
  font-size: 13px;
}
.navbar .nav-item.dropdown .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}
.nav-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.nav-link:hover {
	transition:0.3s;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.navbar-scrolled {
  background-color: #000 !important;
  transition: 0.3s;
  padding: 10px 0;
}
.bg-dark-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 95%);
}
.bg-ai, .bg-circle, .bg-blue {
  background-position: top center;
  background-size: cover;
}
.bg-ai {
  background: url('../img/ai-bg.jpg') center/cover no-repeat;
  background-color: #02407D;
}
.bg-circle {
  background-image: url("../img/dark-circle-bg.jpg");
  background-color: #151515;
}
.bg-blue {
  background-image: url("../img/blue-bg.jpg");
  background-color: #062A5C;
}
textarea {
  height: 100px;
}
.social {
  width: 40px;
  height: auto;
}
.fleet {
  width: 300px;
  height: auto;
}
::placeholder {
  color: #BFBFBF !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #BFBFBF !important;
}
.su-hide{
	display:none;
}